<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>The Old Reader</string>
	<key>Builder Version</key>
	<string>11601.1.56</string>
	<key>CFBundleDisplayName</key>
	<string>The Old Reader</string>
	<key>CFBundleIdentifier</key>
	<string>com.krasnoukhov.theoldreader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>clicked</string>
				<key>Identifier</key>
				<string>theoldreader</string>
				<key>Image</key>
				<string>toolbar-icon.png</string>
				<key>Label</key>
				<string>The Old Reader</string>
				<key>Tool Tip</key>
				<string>Loading</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>reader.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://theoldreader.com/*</string>
			<string>http://theoldreader.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Notifies you about unread items in your The Old Reader account</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://theoldreader.com/safari/Info.plist</string>
	<key>Website</key>
	<string>http://theoldreader.com/</string>
</dict>
</plist>
